.form__input-error {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    display: block;
    width: 358px;
    height: 24px;
    margin: 0;
    padding: 0 0 13px;
    color: #FF0000;
}

@media screen and (max-width: 700px) {
    .form__input-error {
        width: 238px;
    }
}