.profile__description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 1000px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        max-width: 300px;
    }
}