.elements__delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    transition: opacity .3 ease;
}

.elements__delete:hover {
    opacity: .5;
}