.elements__like {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 19px;
    border: none;
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    transition: opacity .3 ease;
}

.elements__like:hover {
    opacity: .5;
    }